* {
    filter: none;
}

.box, .vbox, .hbox, .absolute, .continuoushbox, .hgrid, .vgrid, .grid {
    spacing: 0px;
}

.button {
    border-width: 1px;
    border-color: #C0C0C0;
    background-color: #000000;
    color: #C0C0C0;
    padding: 1px 3px;
}

.button:hover {
    border-width: 1px;
    border-color: #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
}

.button:down {
    border-width: 1px;
    border-color: #C0C0C0;
    background-color: #000000;
    color: #C0C0C0;
}

.hprogress {
    height: 3px;
    border-width: 1px;
    border-color: #C0C0C0;
    background-color: #000000;
    padding: 1px;
    background-image: "ascii:BOARD";
}

.hprogress .progress-value {
    height: 1px;
    background-color: #FFFFFF;
}

.vprogress {
    width: 3px;
    border-width: 1px;
    border-color: #C0C0C0;
    background-color: #000000;
    padding: 1px;
    background-image: "ascii:BOARD";
}

.vprogress .progress-value {
    width: 1px;
    background-color: #FFFFFF;
}






.hslider {
    height: 3px;
    background-color: #000000;
    padding: 1px;
}

.hslider .slider-value-background {
    height: 1px;
    padding: 0px;
    background-color: #000000;
    background-image: "ascii:BOARD";
    color: #C0C0C0;
    border: none;
}

.hslider .slider-value {
    height: 1px;
    background-color: #FFFFFF;
}

.hslider .slider-button {
    width: 2px;
    height: 3px;
}





.vslider {
    width: 3px;
    border-color: #008800;
    background-color: #000000;
    padding: 1px;
    filter: none;
}

.vslider .slider-value-background {
    width: 1px;
    padding: 0px;
    background-color: #000000;
    background-image: "ascii:BOARD";
    color: #C0C0C0;
    border: none;
}

.vslider .slider-value {
    width: 1px;
    background-color: #FFFFFF;
}

.vslider .slider-button {
    width: 3px;
    height: 2px;
}





.checkbox {
    background-color: #000000;
    border: 1px;
    horizontal-spacing: 0px;
    color: #C0C0C0;
}

.checkbox-value {
    border-width: 1px;
    border-color: #C0C0C0;
    background-color: #000000;
    width: 3px;
    height: 3px;
}

.checkbox-value:selected {
    icon: "ascii:BLOCK";
    color: #FFFFFF;
}

.checkbox-label {
    background-color: #000000;
    color: #C0C0C0;
}

.optionbox {
    background-color: #000000;
    border: 1px;
    horizontal-spacing: 0px;
    color: #C0C0C0;
}

.optionbox-value {
    border-width: 1px;
    border-color: #C0C0C0;
    background-color: #000000;
    width: 3px;
    height: 3px;
    filter:none;
}

.optionbox-value:selected {
    icon: "ascii:DIAMOND";
    color: #FFFFFF;
}

.optionbox-label {
    background-color: none;
    color: red;
}









.scroll .button {
    width: 1px;
    height: 1px;
    icon: none;
    border: none;
    background-color: #C0C0C0;
}

.hscroll {
    height: 1px;
    background-color: #000000;
    color: #C0C0C0;
    background-image: "ascii:BOARD";
}

.hscroll .button.thumb {
    height: 1px;
    background-color: #C0C0C0;
}

.hscroll .button.thumb:down {
    background-color: #C0C0C0;
}

.hscroll .button.thumb:hover {
    background-color: #FFFFFF;
}

.hscroll .button.deinc {
    icon: "ascii:LARROW";
    color: #000000;
}

.hscroll .button.deinc:hover {
    background-color: #FFFFFF;
}

.hscroll .button.deinc:down {
    background-color: #888888;
    color: #FFFFFF;
}

.hscroll .button.inc {
    icon: "ascii:RARROW";
    color: #000000;
}

.hscroll .button.inc:hover {
    background-color: #FFFFFF;
}

.hscroll .button.inc:down {
    background-color: #888888;
    color: #FFFFFF;
}



.vscroll {
    width: 1px;
    background-color: #000000;
    color: #C0C0C0;
    background-image: "ascii:BOARD";
}

.vscroll .button.thumb {
    width: 1px;
    background-color: #C0C0C0;
}

.vscroll .button.thumb:down {
    background-color: #C0C0C0;
}

.vscroll .button.thumb:hover {
    background-color: #FFFFFF;
}

.vscroll .button.deinc {
    icon: "ascii:UARROW";
    color: #000000;
}

.vscroll .button.deinc:hover {
    background-color: #FFFFFF;
}

.vscroll .button.deinc:down {
    background-color: #888888;
    color: #FFFFFF;
}

.vscroll .button.inc {
    icon: "ascii:DARROW";
    color: #000000;
}

.vscroll .button.inc:hover {
    background-color: #FFFFFF;
}

.vscroll .button.inc:down {
    background-color: #888888;
    color: #FFFFFF;
}


.scrollview {
    padding: 1px;
    border-width: 1px;
    border-size: 1px;
    background-color: #000000;
    border-color: #C0C0C0;
}

.scrollview .scrollview-contents {
    padding: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.itemrenderer {
    padding: 1px;
}

.listview {
    padding: 1px;
}

.listview .listview-contents {
    spacing: 0;
}

.listview .itemrenderer.even {
    background-color: #000000;
}

.listview .itemrenderer.even .label {
    color: #C0C0C0;
}

.listview .itemrenderer.even .label {
}

.listview .itemrenderer.odd {
    background-color: #888888;
}

.listview .itemrenderer.odd .label {
}


.listview .itemrenderer.even:hover {
    background-color: #C0C0C0;
}

.listview .itemrenderer.odd:hover {
    background-color: #888888;
}

.listview .itemrenderer:selected {
    background-color: #000088;
    color: white;
}

.tabbar {
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid #C0C0C0;
    background-color: black;
}

.tabview .tabview-content {
    border: 1px solid #C0C0C0;
    background-color: black;
    padding: 1px;
}