.scrollview {
    border: 1px single #000088;
    background-color: none;
    padding-right: 1px;
}

.scrollview-contents {
    padding-left: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0px;
}

.scrollview .horizontal-scroll {
    margin-top: 1px;
    margin-right: 1px;
}

.scrollview .vertical-scroll {
    margin-left: 2px;
}

.scrollview:active {
    border-color: #0000FF;
}

.scrollview:active .scroll {
    __background-color: #0000FF;
    color: #0000FF;
    __border-color: #0000FF;
}

.scrollview:active .scroll .thumb {
    background-color: #0000FF;
    __color: #0000FF;
    ___border-color: #0000FF;
}

/*

.horizontal-scroll {
    height: 1px;
    border: none;
    padding: 0;
    
    
    filter: none;
    background-image: 'CKBOARD';
    background-color: #FFFFFF;
    color: #000080;
}

.horizontal-scroll .thumb {
    background-color: red;
    filter: none;
}

.vertical-scroll .thumb {
    background-color: red;
    filter: none;
}

.vertical-scroll {
    width: 1px;
    border: none;
    padding: 0;
    
    
    filter: none;
    background-image: 'CKBOARD';
    background-color: #FFFFFF;
    color: #000080;
}
*/