.button {
    border: 1px outset;
    padding: 1px 2px;
    color: #000000;
    background-color: none;
}

.button:hover {
    __color: #ffffff;
}

.button:down {
    border: 1px inset;
    color: #000000;
}

.button .label {
    __background-color: #c0c0c0;
}
