.horizontal-slider {
    padding: 0;
    height: auto;
    initial-width: 20px;
}

.horizontal-slider .slider-value {
    width: 100%;
    height: 1px;
}

.horizontal-slider .button {
    width: 2px;
    height: 3px;
}

.vertical-slider {
    padding: 0;
    width: auto;
    initial-height: 10px;
}

.vertical-slider .slider-value {
    width: 1px;
    height: 100%;
}

.vertical-slider .button {
    width: 3px;
    height: 2px;
}
