.tableview {
    background-color: none;
}

.tableview .tableview-contents {
    spacing: 0;
    width: 100%;
    padding: 0px;
}

.tableview .even {
    background-color: none;
    cursor: pointer;
}

.tableview .odd {
    background-color: none;
    cursor: pointer;
}

.tableview .compounditemrenderer .itemrenderer {
    height: auto;
    padding: 0px;
}

.tableview .compounditemrenderer .label {
    color: black;
}

.tableview .compounditemrenderer:selected {
    background-color: #000088;
    color: white;
}

.tableview .compounditemrenderer:selected .label {
    color: white;
}
