<?xml version="1.0" encoding="utf-8" ?>
<module>
    <resources>
        <resource path="/haxe/ui/backend/pdcurses/_module/styles" prefix="styles" />
    </resources>
    <themes>
        <global>
            <style resource="styles/main.css" />
        </global>
        <default>
            <style resource="styles/default/main.css" />
        </default>
        <green parent="default">
            <style resource="styles/green/main.css" />
        </green>
    </themes>
</module>
